
body {
  color: white;
  width: 100%;
  height: 100vh;
  margin: 0;
 font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-image: linear-gradient(115deg, #3a3a9ccc, #8888ceb3),
    url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  padding: 2rem;
}
 #title{
  margin: 10px 0;
     text-align: center;
}
#description {
  margin-top: 0;
    margin-bottom: 0.5rem;
  text-align: center;
}

form#survey-form {
  background-color: rgba(27, 27, 50, 0.8);
  color: #ddd;
  width: 60vw;
  max-width: 720px;
  min-width: 360px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 5px;
}

fieldset {
  border: none;
  padding: 1rem 0;
}

label {
  display: block;
}

input,
textarea,
select {
  margin: 10px 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
legend {
  font-size: 1.3em;
}
input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 2.2em;
  font-size: 1.2rem;
  background-color: mediumseagreen;
  min-width: 360px;
}
label:last-of-type {
  font-size: 1.2em;
  margin-top: 1rem;
}
form p {
  font-size: 1.2em;
  margin-bottom: 5px;
}

** end of styles.css **

